APP_PORT=8000

# Variabel yang dibaca oleh Aplikasi Node.js/NestJS
DB_HOST=db
DB_PORT=3306
DB_USERNAME=appuser        # <-- Diubah dari DB_USERNAME menjadi DB_USER
DB_PASSWORD=appuser
DB_NAME=hplap_db
DB_LOGGING=true
DB_SYNCHRONIZE=false

# Variabel yang dibaca oleh Container MySQL (Tambahkan ini)
MYSQL_ROOT_PASSWORD=rootuser
MYSQL_DATABASE=hplap_db
MYSQL_USER=appuser
MYSQL_PASSWORD=appuser

# Keamanan & JWT
ADMIN_ACESS_KEY=super-secret-admin-key
ADMIN_TOKEN_EXPIRY=1d
JWT_SECRET=your-unique-jwt-secret-key

# Cloudinary
CLOUDINARY_CLOUD_NAME=daacbqtpj
CLOUDINARY_API_KEY=541621418153882
CLOUDINARY_API_SECRET=-KuCwxDDWaSZlTalOitvYpk9uPo

XENDIT_SECRET_KEY=xnd_development_ufGCWzSP8X5GoqF15wWUXpD8yB3SRtTcfDCHvkeTlc1PglOZi6GfVu4MyoHBX