APP_PORT=8000
DB_PASSWORD=appuser
DB_USERNAME=appuser
DB_NAME=hplap_db
DB_HOST=db
DB_PORT=3306
DB_LOGGING=true
DB_SHYNCHRONIZE=false 

ADMIN_ACESS_KEY=super-secret-admin-key
ADMIN_TOKEN_EXPIRY=1d

JWT_SECRET=your-unique-jwt-secret-key

FE_URL=http://localhost:3000
MAX_FILE_SIZE=10485760
UPLOAD_DEST=./storage/public
UPLOAD_FIELD_NAME=file