APP_PORT=8000
DB_PASSWORD=appuser
DB_USERNAME=appuser
DB_NAME=hplap_db
DB_HOST=db
DB_PORT=3306
DB_LOGGING=true
DB_SHYNCHRONIZE=false 

ADMIN_ACESS_KEY=super-secret-admin-key
ADMIN_TOKEN_EXPIRY=1d

JWT_SECRET=your-unique-jwt-secret-key

CLOUDINARY_CLOUD_NAME=daacbqtpj
CLOUDINARY_API_KEY=541621418153882
CLOUDINARY_API_SECRET=-KuCwxDDWaSZlTalOitvYpk9uPo